<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 페이지</title>
</head>
<body>
<h1>보관소 추가하기</h1>
<input type="text" id="sName" placeholder="보관소이름">
<input type="text" id="zipCode" placeholder="보관소 우편번호">
<input type="text" id="sAddress" placeholder="보관소 주소">
<button type="submit" id="addStrg"></button>

<script>
    $(function () {
        $('#addStrg').click((event) => {
            const sCode = "as";
            const sName = $('#sName').val();
            const zipCode = $('#zipCode').val();
            const sAddress = $('#sAddress').val();

            const path = 'api/addStrg'
            const json = {
                'sCode':sCode,
                'sName': sName,
                'zipCode': zipCode,
                'sAddress': sAddress
            }

            $.ajax({
                url: path,
                type: 'POST',
                contentType: 'application/json',
                data: json
            })
            .done((response) => {
                if (response.result == 'ok') {
                    alert('등록되었습니다.');
                    window.location.href = '/addmenu'
                    console.log(1);
                } else {
                    alert('등록되지 않았습니다.');
                    console.log(2);

                }
            })
            .fail((response) => {
                alert('(에러)등록되지 않았습니다.');
                console.log(3);

            })

        })
    });
</script>
</body>
</html>